:root {
  --color-white: #fff;
  --color-dark: #363c50;
  --color-blue-1: #0747a6;
  --color-blue-2: #05367f;
  --color-blue-3: #307ef2;
  --color-light-1: #f8f8f8;
  --color-light-2: #c0c2df;
  --color-light-3: #dfe0f2;
  --color-gray-1: #999393;
  --color-gray-2: #e1e1e1;
  --color-red: #fd4949;
  --color-primary: #d2c9fd;
  --font-poppins: "Poppins", sans-serif;
}
