@import "../styles/abstract/mixins";

.loading {
  margin: 6rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-blue-3);
  font-weight: 500;
  font-size: 2rem;

  @include respond(xs) {
    font-size: 1.6rem;
  }

  &__icon {
    color: var(--color-blue-3);
    height: 5rem;
    width: 5rem;
    margin-bottom: 1rem;
  }
}
